<div>
  <h2>Login</h2>
  
  <div *ngIf="!isUserLoggedIn()">
    <form (ngSubmit)="onLogin()">
      <div>
        <label>Username:</label>
        <input type="text" [(ngModel)]="credentials.username" name="username" required>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" [(ngModel)]="credentials.password" name="password" required>
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
  
  <div *ngIf="isUserLoggedIn()">
    <p>Welcome! You are logged in.</p>
    <button (click)="onLogout()">Logout</button>
  </div>
  
  <p *ngIf="loginMessage">{{ loginMessage }}</p>
  
  <div class="signup-link">
    <p>Don't have an account? <a routerLink="/signup">Sign up here</a></p>
  </div>
</div>
